@import '~antd/dist/antd.css';

.valign {
  display: flex;
  align-items: center;  
  height: 100%;
  padding-top: 5px;
}

.justify-center {
  justify-content: center !important;

}

.justify-end {
  justify-content: flex-end !important;
}

.ant-layout-content {
  min-height: 77vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fff;
}
.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex !important;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px 15px;
}